/*********************/
/* FONTS */
/*********************/
@font-face {
	font-family: "Inter";
	font-weight: 700;
	src: url('/fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
	font-family: "Inter";
	font-weight: 400;
	src: url('/fonts/Inter-Regular.woff2') ('woff2');
}

@font-face {
	font-family: "Inter";
	font-weight: 600;
	src: url('/fonts/Inter-SemiBold.woff2') ('woff2');
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	color-scheme: light dark;
	--icon-color: #111;
	--background-color: #ffffff;

	--color-text:#111;
	--background-party-outfit-kopen: #eee;
	--color-button:#111;
	--color-text-button:#ffffff;

}

@media (prefers-color-scheme:dark){
	:root {
		color-scheme: light dark;
		--icon-color: #ffffff;
		--background-color: #111;
		
		--color-text:#ffffff;
		--background-party-outfit-kopen: #434343;
		--color-button:#ffffff;
		--color-text-button:#111;
	}
}



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

p {
	font-size: 0.7em;
	color: var(--color-text);
}

h2 {
	display: flex;
	justify-content: center;
	color: var(--color-text);
}

h3 {
	font-size: 0.9em;
	color: var(--color-text);
}

body {
	margin:0;
	font-family: "Inter", sans-serif;

	background-color: var(--background-color);
}

svg{
	@media (prefers-color-scheme:dark){
		filter:invert(1);
	}
}

button {
	appearance: none;
	border: none;
}




/****************/
/* HEADER */
/****************/
header {
	display:flex;
	background-color: var(--background-color);
	position:sticky;
  	top:0;
	/* width:100vw; BAH */

	padding:.5em;

	align-items: center;
	justify-content: space-between	;
	z-index:2;
}

header li {
	list-style:none;
}

/* Alle icons */

/************************** vraag over svg kleur veranderen ?????? ******************************/
header svg {
	width: 1.5em;

	color: #111;
	@media (prefers-color-scheme:dark){
		filter:invert(1);
	}
}

header menu img {
	width: 1.5em;
	@media (prefers-color-scheme:dark){
		filter:invert(1);
	}
} 



/* Logo Loavies */
header h1 {
	flex-shrink: 0;	
	margin:0;
}

header h1 svg{
	width:4em;
}



/****************/
/* NAV MENU */
/****************/

menu{
	display:flex;
}

/* Hamburger menu */
header menu {
	margin:0;
	padding: 0;
	display: flex;

}

header menu li:nth-of-type(1) button {
	position: relative;
	z-index: 1;
}

header menu li:nth-of-type(1) button.is-open img {
	content:url(../images/close_svgrepo_com.svg);
}

header nav{
	display: flex;
	background-color: var(--color-background);
	font-family: var(--text-bold);
	font-size: 0.9em;
	line-height: 250%;
	
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;

	translate: -100% 0;
	
	transition:0.5s;
}

header img{
	width: 100%;
	margin:0;
	padding:0;
}

header nav.is-open {
	translate: 0 0;
}
header ul {
	margin:0;
	padding: 0 0;
	display:flex;

}

header nav ul {
	margin-top: 3em;
	display: flex;
	flex-direction: column;

}
header nav ul li{
	margin:0;
	padding: 0 1em;
}

/* header nav ul li:nth-of-type(1){
	position:;a
} */

header nav ul li:nth-of-type(2){
	margin:0;
	padding: 0 0;
}

/* Hamburger menu einde */

/* Nav de opmaak */
header nav > a {
	font-size: 8em;
}




/****************/
/* FOOTER */
/****************/
footer{
	display: flex;
	font-size: 0.7em;
}

footer a{
	color:var(--color-text);
	text-decoration: none;
}

footer ul {
	padding:0 0 0 30%;
}

footer li {
	list-style-type: none;
}

footer svg {
	width: 1.5em;
}

footer nav ul:nth-of-type(1) {
	display:flex;
	flex-direction: column;
	line-height: 150%;
}

footer nav ul:nth-of-type(2) {
	display:flex;
	flex-direction: row;
	gap: 1em;
}

.visually-hidden{
	position: absolute;
	left: -999em;
}

/****************/
/* TOEGANKELIJKHEID */
/****************/
a:focus {
	border: solid 2px;
	border-color: #e0164a;
}

a:active {
	border:solid 2px;
	border-color: #e0164a;
}

a:hover {
	border:solid 2px;
	border-color: #e0164a;
}

button:focus {
	background-color: pink;
	color:#111;
}

button:active {
	background-color: pink;
	color:#111;
}

button:hover {
	border:solid 2px;
	border-color: #e0164a;
}