/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#fff;
}

@font-face {
	font-family: "InterBold";
	src: url(/fonts/Inter-Bold.woff2);
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


/****************/
/* HEADER */
/****************/
header {
	background-color: var(--color-background);
	position:sticky;
  	top:0;
	width:100vw;
}

header h1 {
	flex-shrink: 0;	
}

header h1 svg{
	width:4em;
}

header li {
	list-style:none;
}

nav{
	display: flex;
	background-color: var(--color-background);
	justify-content: space-between ;
	align-items:center;	
}

nav img{
	width:1.5em;
}

menu{
	display:flex;
}

header ul{
	display:flex;

}

footer ul{
	height: 4em;
	width:100vw;
}

footer li {
	list-style: none;
}